.ExpenseCards {
    background-color: rgb(209, 238, 238);
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.ExpenseCards>h2 {
    align-items: center;
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Total>p {
    font-weight: 500;
    font-size: larger;
}

.Total {
    text-align: end;
    padding-right: 20px;
}

.Selector {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    margin-top: -65px;
}

.Selector>select {
    align-items: center;
    background-color: #272927;
    /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}