.ExpenseCard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(116, 208, 137);
    margin: 10px;
    border-radius: 10px;

}

.ExpenseCard>div {
    padding-inline: 15px;
}

.ExpenseCard>div>p {
    font-weight: 500;

}

.ExpenseDate {}

.ExpenseTitle {
    align-items: center;
    text-align: left;
    flex-grow: 1;
    color: black;
    border-left: 10px;
    border-color: antiquewhite;
}